<div *ngIf="auth.authenticated$ | async; else loggedOut">
  <p>You are logged in.</p>
  <button mat-raised-button color="primary" (click)="getToken()">
    Get Token
  </button>
  <div *ngIf="token">{{ token }}</div>
</div>
<ng-template #loggedOut>
  <div class="login-form">
    <mat-card>
      <mat-card-title> Application Login</mat-card-title>
      <form [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="item">
            <input matInput placeholder="Username" formControlName="username" />
          </mat-form-field>
          <mat-form-field class="item">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
        </mat-card-content>
      </form>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">
          LOGIN
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
